@import url(https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/wallpaper.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Andada Pro", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  padding: 24px 24px 0;
}

.logo {
  height: 48px;
}

.social {
  display: none;
}

.main {
  max-width: 327px;
  flex-direction: column;
}

.left img {
  margin: 45px 28px 24px;
  width: 250px;
}

.right {
  display: flex;
  flex-direction: column;
}

.group-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  >h2 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-transform: uppercase;
    color: #f9f9f9;
  }

  >h1 {
    margin-bottom: 32px;
    font-family: Andada Pro;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    color: #f9f9f9;
  }

  >p {
    font-family: Archivo;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #f9f9f9;
  }
}

.group-btn {
  display: flex;
  flex-direction: column;
  gap: 32px;

  button {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: center;
    text-transform: uppercase;
  }

  .now {
    height: 52px;
    padding: 14px 32px;
    border: none;
    border-radius: 4px 4px;
    cursor: pointer;
    background: #f1a5b1;
    transition: all 0.5s;

    >.btn {
      height: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  .now:hover {
    transform: translateY(-5px);
  }

  .now a {
    text-decoration: none;
    color: #000000;
  }

  .trailer {
    height: 52px;
    padding: 14px 32px;
    border-radius: 4px 4px;
    background: transparent;
    cursor: pointer;
    border: 2px solid #f1a5b1;
    transition: all 0.5s;
  }
}

.trailer:hover {
  background: #f1a5b1;
}

.trailer a {
  text-decoration: none;
  color: #f9f9f9;
}

@media (min-width: 640px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 765px;
    padding: 32px;
  }

  .logo img {
    height: 48px;
  }

  .social {
    display: flex;
    gap: 24px;
  }

  .main {
    max-width: 765px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 160px;
  }

  .left img {
    width: 370px;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1216px;
    padding: 48px;
    margin-bottom: 144px;
  }

  .logo img {
    height: 80px;
  }

  .social {
    display: flex;
    gap: 24px;

    img {
      width: 40px;
    }

  }

  .main {
    max-width: 1216px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }

  .group-text {
    h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 700;
      line-height: 27.24px;
      text-align: left;
    }

    h1 {
      width: 420px;
      height: 140px;
      font-family: Andada Pro;
      font-size: 64px;
      font-weight: 800;
      line-height: 70.4px;
      text-align: left;
    }

    p {
      width: 488px;
      font-family: Archivo;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      text-align: left;
    }
  }

  .left img {
    width: 574px;
  }

  .group-btn {
    display: flex;
    flex-direction: row;
  }
}